body {
    background-color: #faf8ef;
}

.main-wrapper{
  width: 70%;
  margin: auto;
}

.header h1{
  font-family: 'Rubik';
  font-size: 48px;
  color: #756452;
}

.header{
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.score-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.powerup-message-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 150px;
}

.swap-message{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #534f48;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  color: #fff;
  min-width: 80px;
  max-height: 40px;
  font-family: 'Rubik';
}

.swap-message button{
  background-color: #33312b;
  color: #fff;
  padding: 10px 16px;
  border-radius: 12px;
  font-family: 'Rubik';
}

.hidden{
  display: none;
}

.score-box{
  display: flex;
  flex-direction: column;
  background-color: #bbada0;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  color: #fff;
  min-width: 80px;
  max-height: 40px;
}

.best-score-box{
  display: flex;
  flex-direction: column;
  border: #bbada0 1px solid;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  color: #bbada0;
  min-width: 80px;
  max-height: 40px;
}

.score-box .label {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: 'Rubik';
}

.score-box .value {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Rubik';
}

.best-score-box .label {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: 'Rubik';
}

.best-score-box .value {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Rubik';
}

.new-game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a{
  text-decoration: none;
  color: #bbada0;
  border: none;
  padding: 0px 16px;
  font-family: 'Rubik';
}

a:hover {
  text-decoration: underline; 
  text-decoration-color: #bbada0;  
}

.new-game-container .score-box button {
  font-size: 18px;
  font-family: 'Rubik';
  border: none;
  text-decoration: none;
  background-color: #bbada0;
  color: #ffffff;
  cursor: pointer;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
}

#gameContainer {
  position: relative;
  width: max-content;
  margin: auto;
}


.board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    background-color: #bbada0;
    padding: 12px;
    border-radius: 20px;
    width: max-content;
  }
  
  .tile {
    font-family: Rubik;
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.9s ease;
  }

  .tile-moved {
    animation: movePop 0.15s ease;
}

.tile-merged {
    animation: mergePop 0.25s ease;
    z-index: 10;
}

@keyframes movePop {
    0% { transform: scale(1.1); }
    50% {transform:scale(1.2);}
    100% { transform: scale(1); }
}

@keyframes mergePop {
    0% { transform: scale(1.3); background-color: #f1c40f; }
    100% { transform: scale(1); }
}
  
  .tile[data-value="2"] { background-color: #eee4da; }
  .tile[data-value="4"] { background-color: #ede0c8; }
  .tile[data-value="8"] { background-color: #f2b179; }
  .tile[data-value="16"] { background-color: #f59563; }
  .tile[data-value="32"] { background-color: #f67c5f; }
  .tile[data-value="64"] { background-color: #f65e3b; }
  .tile[data-value="128"] { background-color: #edcf72; }
  .tile[data-value="256"] { background-color: #edcc61; }
  .tile[data-value="512"] { background-color: #edc850; }
  .tile[data-value="1024"] { background-color: #edc53f; }
  .tile[data-value="2048"] { background-color: #edc22e; }

  .hidden {
    display: none!important;
  }

  #gameOverMessage {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(228, 224, 224, 0.8);
    color: black;
    text-align: center;
    z-index: 10;
    border-radius: 10px;
  }

  #gameOverMessage p {
    padding: 10px;
    font-family: 'Rubik';
  }

  #startAgainBtn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Rubik';
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#startAgainBtn:hover {
    background-color: #45a049;
}

.bottom-button-panel {
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: #eae7d9;
  padding: 15px 25px;
  border-radius: 15px;
  width: fit-content;
  margin: 40px auto;
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button {
  background-color: #bbada0;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 0 #bbb5a6;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.action-button:hover {
  background-color: #ede4d9;
}

.action-button img {
  width: 40px;
  height: 40px;
}

.undo-button {
  background-color: #bbada0;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 0 #bbb5a6;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.undo-button:hover {
  background-color: #ede4d9;
}

.undo-button img {
  width: 40px;
  height: 40px;
}

.undo-bars {
  display: flex;
  gap: 4px;
  margin-top: 12px;
}

.swap-bars {
  display: flex;
  gap: 4px;
  margin-top: 12px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s;
}

.charge-bars {
  display: flex;
  gap: 4px;
  margin-top: 12px;
}

.bar {
  width: 12px;
  height: 6px;
  border-radius: 2px;
  background-color: #d6cdc4;
}

.bar.filled {
  background-color: #8f7a66;
}

.tile.selected {
  transform: scale(1.1);
  transition: transform 0.15s ease;
  z-index: 1; /* So it sits above other tiles a bit */
}

.swap-mode .tile:hover{
  cursor:pointer;
}